.header {
  position: relative;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1rem;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: max-content;
  padding-bottom: 1rem;
  &:last-of-type {
    justify-content: center;
    gap: 2rem;
  }
}
.active {
  color: aqua;
}
.active {
  color: #2f80ed;
}
.settings-btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 3px #fff;
  margin: 15px 0 0 10px;
  padding: 5px;
  width: fit-content;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 6px #fff;
  }
}

.center-part {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.input-field {
  height: 4rem;
}
.searchBtn {
  height: 56px;
}
.sorting-block {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sorting-title {
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
}

.sorting-toggle-group {
  display: flex;
  align-items: center;
  & span {
    font-size: 1.2rem;
  }
}
.mat-button-toggle-group {
  gap: 5px;
  border: none;
  & * {
    border-radius: 5px;
  }
}
.filterByWord-form {
  height: 100%;
}
.filter-input {
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  &:focus {
    background: white;
  }
}
.mat-button-toggle {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: bold;
}
.mat-button-toggle-checked {
  background-color: white;
}
