<mat-toolbar color="primary">
  <mat-toolbar-row class="header">
    <h1>YTClient App Logo</h1>
    <form class="center-part"
      (ngSubmit)="setSearchText.emit(searchInput.value); searchInput.value=''">
      <mat-form-field class="search-field">
        <mat-label>Search</mat-label>
        <input matNativeControl placeholder="..." #searchInput>
      </mat-form-field>
      <button mat-raised-button color="primary" class="searchBtn"
        type="submit">Search</button>

      <button class="settings-btn" (click)="openFiltersBlock()">
        <img src="../../../assets/icons/settings-icon.png" alt="">
      </button>
    </form>
    <div>Login info block</div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="filtersOpened">
    <span>Sorting by: </span>
    <mat-button-toggle-group name="sortingMethod" aria-label="sortingMethod">
      <mat-button-toggle value="date">Date</mat-button-toggle>
      <mat-button-toggle value="views">Views</mat-button-toggle>

    </mat-button-toggle-group>
    <span>Filter by word or sentance: </span>

    <input type="text">

  </mat-toolbar-row>
</mat-toolbar>