<mat-toolbar color="primary" class="header">
  <mat-toolbar-row class="header-row">
    <h1>YTClient App Logo</h1>
    <form class="center-part" (ngSubmit)="setSearchText(searchInput.value)"
      *ngIf="authService.isLogged">
      <mat-form-field class="search-field">
        <mat-label>Search</mat-label>
        <input matNativeControl placeholder="..." #searchInput>
      </mat-form-field>
      <button mat-raised-button color="primary" class="searchBtn"
        type="submit">Search</button>
      <app-custom-button (onClick)="openFiltersBlock()" class="settings-btn"
        title="Open filters block"><img src="assets/icons/settings-icon.png"
          alt=""></app-custom-button>
    </form>
    <app-login-info-block></app-login-info-block>
  </mat-toolbar-row>
  <mat-toolbar-row class="header-sorting-row" *ngIf="filtersOpened">
    <div class="sorting-block">
      <span class="sorting-title">Sorting by: </span>
      <mat-button-toggle-group name="dateSortingMethod" aria-label="dateSortingMethod"
        (change)="setSortingRule($event.value)" class="sorting-toggle-group"
        [(ngModel)]="sorting" #dateSortingMethod>
        <span>Date</span>
        <mat-button-toggle value="dateUp">↑</mat-button-toggle>
        <mat-button-toggle value="dateDown">↓</mat-button-toggle>
        <span>Views</span>
        <mat-button-toggle value="viewsUp">↑</mat-button-toggle>
        <mat-button-toggle value="viewsDown">↓</mat-button-toggle>
      </mat-button-toggle-group>

    </div>
    <div class="filterByWord-form">
      <span class="sorting-title">Filter by word or sentance: </span>
      <input class="filter-input" type="text" #filterInput
        (input)="setFilterText(filterInput.value)">
    </div>
  </mat-toolbar-row>
</mat-toolbar>