<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="card-title">{{cardData?.snippet?.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image class="video-thumb"
      [src]="cardData?.snippet?.thumbnails?.standard?.url" alt="Video thumb">
    <mat-divider></mat-divider>
    <div class="info-block">
      <div class="info-block__content"> <mat-icon aria-hidden="false"
          aria-label="Views counter" fontIcon="visibility" color="primary"></mat-icon>
        <span>{{cardData?.statistics?.viewCount}}</span>
      </div>
      <div class="info-block__content">
        <mat-icon aria-hidden="false" aria-label="Likes count" fontIcon="thumb_up"
          color="primary"></mat-icon>
        <span>{{cardData?.statistics?.likeCount}}</span>
      </div>
      <div class="info-block__content">
        <mat-icon aria-hidden="false" aria-label="Dislikes count" fontIcon="thumb_down"
          color="primary"></mat-icon>
        <span>{{cardData?.statistics?.dislikeCount}}</span>
      </div>
      <div class="info-block__content">
        <mat-icon aria-hidden="false" aria-label="Comments count" fontIcon="library_books"
          color="primary"></mat-icon>
        <span>{{cardData?.statistics?.commentCount}}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>

    <button mat-raised-button color="primary">MORE...</button>

  </mat-card-actions>
  <mat-card-footer [style.background-color]="timeDistance" class="footer">

  </mat-card-footer>
</mat-card>