<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="card-title"
      [title]="cardData?.title">{{cardData?.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image class="video-thumb" [src]="cardData?.imageLinks?.medium?.url"
      alt="Video thumb">
    <mat-divider></mat-divider>
    <div class="info-block">
      <div class="info-block__content"> <mat-icon aria-hidden="false"
          aria-label="Views counter" fontIcon="visibility" color="primary"></mat-icon>
        <span>{{cardData?.statistics?.views}}</span>
      </div>
      <div class="info-block__content">
        <mat-icon aria-hidden="false" aria-label="Likes count" fontIcon="thumb_up"
          color="primary"></mat-icon>
        <span>{{cardData?.statistics?.likes}}</span>
      </div>
      <div class="info-block__content">
        <mat-icon aria-hidden="false" aria-label="Dislikes count" fontIcon="thumb_down"
          color="primary"></mat-icon>
        <span>{{cardData?.statistics?.dislikes||+cardData?.statistics?.likes!*0.1
          ||0}}</span>
      </div>
      <div class="info-block__content">
        <mat-icon aria-hidden="false" aria-label="Comments count" fontIcon="library_books"
          color="primary"></mat-icon>
        <span>{{cardData?.statistics?.comments}}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>

    <a mat-raised-button color="primary"
      [routerLink]="['/main', cardData?.id]">MORE...</a>

  </mat-card-actions>
  <mat-card-footer [appColorTimeIndicator]="cardData?.createdAt" class="footer">

  </mat-card-footer>
</mat-card>